PORT=3000
RABBITMQ_URL=amqp://localhost
TASKS_QUEUE=tasks.queue
TASKS_DEAD_LETTER_QUEUE=tasks.dead
TASKS_DEAD_LETTER_EXCHANGE=tasks.dlx
MAX_TASK_ATTEMPTS=3
BASE_RETRY_DELAY_MS=1000
MAX_RETRY_DELAY_MS=30000
